.content{
    height: 678px;
}
.content__item{
    width: 600px;
    height: 478px;
}
.content-box{
    display: flex;
    justify-content: space-between;
}
.content_img{
    position: fixed;
}
.figure{
    margin-top: -500px;
    margin-left: 300px;
}
.content-box__text{
    padding-top: 180px;
    h2{
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 5px solid $yellow;
    }
    p{
        margin-top: 15px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}
.white{
    color: black;
}
.figure__left{
    margin-left: -200px;
}