html{
}
body{
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: black;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
ul{
    text-decoration: none;
}
